
.container {
  height: 100vh;
  margin: 20px auto;
  padding: 15px 35px;
  margin-top: 10.3rem;
  border-radius: 1.5em;
  max-width: 70em;
  animation: pulse 5s infinite;
}

.container-fluid {
  font-size: 1.5em;
}

.title {
  font-size: 100px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10em;
  letter-spacing: 2px;
}

